In [1]:
!git clone https://github.com/PhonePe/pulse

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import pandas as pd
import os
import json
from PIL import Image

In [3]:
!pip install sqlalchemy
!pip install streamlit_option_menu
!pip install plotly

Requirement already satisfied: sqlalchemy in /Users/ramki/miniconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/ramki/miniconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/ramki/miniconda3/lib/python3.11/site-packages (from sqlalchemy) (3.0.1)

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [5]:
connection_string = "mysql+mysqlconnector://root:borse123@127.0.0.1:3306"
engine1 = create_engine(connection_string, echo=False)
with engine1.connect() as con:
  con.execute(text("CREATE DATABASE IF NOT EXISTS phonepe"))
  con.execute(text("USE phonepe"))

In [6]:
connection_string = "mysql+mysqlconnector://root:borse123@127.0.0.1:3306/phonepe"
engine = create_engine(connection_string, echo=False)

In [7]:
transaction_path = "pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(transaction_path)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = transaction_path + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            A = json.load(data)

            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['State'].append(state)
                columns1['Year'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))

df_agg_trans = pd.DataFrame(columns1)

In [8]:
df_agg_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2022,1,Peer-to-peer payments,342649,1.682329e+09
1,andaman-&-nicobar-islands,2022,1,Merchant payments,284298,3.700916e+08
2,andaman-&-nicobar-islands,2022,1,Recharge & bill payments,163401,7.130013e+07
3,andaman-&-nicobar-islands,2022,1,Financial Services,1757,2.869682e+06
4,andaman-&-nicobar-islands,2022,1,Others,2643,2.440322e+06
...,...,...,...,...,...,...
4309,nagaland,2018,4,Recharge & bill payments,72881,1.661551e+07
4310,nagaland,2018,4,Peer-to-peer payments,53723,3.589263e+08
4311,nagaland,2018,4,Merchant payments,10350,1.050063e+07
4312,nagaland,2018,4,Financial Services,587,2.161274e+05
4313,nagaland,2018,4,Others,1792,1.754940e+06

In [9]:
df_agg_trans.to_sql(name='aggregated_transaction', con=engine, if_exists = 'append', index=False)

-1

In [10]:
# data frame of aggregated user
user_path = "pulse/data/aggregated/user/country/india/state/"

agg_user_list = os.listdir(user_path)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = user_path + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(state)
                    columns2["Year"].append(year)
                    columns2["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns2)

In [11]:
df_agg_user

                          State  Year  Quarter   Brands  Count  Percentage
0     andaman-&-nicobar-islands  2022        1     Vivo  18688    0.244966
1     andaman-&-nicobar-islands  2022        1   Xiaomi  17957    0.235384
2     andaman-&-nicobar-islands  2022        1  Samsung  12955    0.169817
3     andaman-&-nicobar-islands  2022        1   Realme   6769    0.088730
4     andaman-&-nicobar-islands  2022        1     Oppo   6461    0.084692
...                         ...   ...      ...      ...    ...         ...
6727                   nagaland  2018        4    Apple   1148    0.026700
6728                   nagaland  2018        4   Lenovo   1024    0.023816
6729                   nagaland  2018        4   Huawei    849    0.019746
6730                   nagaland  2018        4     Asus    840    0.019536
6731                   nagaland  2018        4   Others   6249    0.145336

[6732 rows x 6 columns]

In [25]:
df_agg_user.to_sql(name='aggregated_user', con=engine, if_exists = 'append', index=False)

-1

In [13]:
# Data frame of map transactions
map_path = "pulse/data/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(map_path)

columns3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = map_path + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            C = json.load(data)

            for i in C["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns3["District"].append(district)
                columns3["Count"].append(count)
                columns3["Amount"].append(amount)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))

df_map_trans = pd.DataFrame(columns3)

In [14]:
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2022,1,north and middle andaman district,60059,1.616249e+08
1,andaman-&-nicobar-islands,2022,1,south andaman district,705512,1.872991e+09
2,andaman-&-nicobar-islands,2022,1,nicobars district,29177,9.441413e+07
3,andaman-&-nicobar-islands,2022,2,north and middle andaman district,72573,1.956932e+08
4,andaman-&-nicobar-islands,2022,2,south andaman district,954875,2.357327e+09
...,...,...,...,...,...,...
17559,nagaland,2018,4,tuensang district,5518,1.444341e+07
17560,nagaland,2018,4,peren district,2071,6.712395e+06
17561,nagaland,2018,4,dimapur district,68046,2.021721e+08
17562,nagaland,2018,4,zunheboto district,4966,1.244903e+07
17563,nagaland,2018,4,wokha district,4959,8.954847e+06

In [15]:
df_map_trans.to_sql(name='map_transaction', con=engine, if_exists = 'append', index=False)

-1

In [16]:
# Data frame of map user
map_user_path = "pulse/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(map_user_path)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = map_user_path + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

df_map_user = pd.DataFrame(columns4)

In [17]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,andaman-&-nicobar-islands,2022,1,north and middle andaman district,10720,904869
1,andaman-&-nicobar-islands,2022,1,south andaman district,63487,2368756
2,andaman-&-nicobar-islands,2022,1,nicobars district,2081,573782
3,andaman-&-nicobar-islands,2022,2,north and middle andaman district,11379,963824
4,andaman-&-nicobar-islands,2022,2,south andaman district,66959,3404740
...,...,...,...,...,...,...
17563,nagaland,2018,4,tuensang district,1261,0
17564,nagaland,2018,4,peren district,710,0
17565,nagaland,2018,4,dimapur district,22603,0
17566,nagaland,2018,4,zunheboto district,1099,0
17567,nagaland,2018,4,wokha district,1391,0

In [18]:
df_map_user.to_sql(name='map_user', con=engine, if_exists = 'append', index=False)

-1

In [19]:
# Data frame of top transactions
top_trans_path = "pulse/data/top/transaction/country/india/state/"

top_trans_list = os.listdir(top_trans_path)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = top_trans_path + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            E = json.load(data)

            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns5)

In [20]:
df_top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2022,1,744101,209941,6.159781e+08
1,andaman-&-nicobar-islands,2022,1,744103,157230,3.997160e+08
2,andaman-&-nicobar-islands,2022,1,744105,122716,3.218506e+08
3,andaman-&-nicobar-islands,2022,1,744102,74883,1.933365e+08
4,andaman-&-nicobar-islands,2022,1,744104,32471,7.291552e+07
...,...,...,...,...,...,...
8562,nagaland,2018,4,797113,5861,1.606055e+07
8563,nagaland,2018,4,798601,5806,1.207269e+07
8564,nagaland,2018,4,797117,4640,1.411745e+07
8565,nagaland,2018,4,797118,4531,1.615445e+07
8566,nagaland,2018,4,797116,4309,1.336502e+07

In [21]:
df_top_trans.to_sql(name='top_transaction', con=engine, if_exists = 'append', index=False)

-1

In [22]:
# Data frame of top users
top_user_path = "pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(top_user_path)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = top_user_path + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)

            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [23]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2022        1  744103            15011
1     andaman-&-nicobar-islands  2022        1  744105            13070
2     andaman-&-nicobar-islands  2022        1  744101            12300
3     andaman-&-nicobar-islands  2022        1  744102             8271
4     andaman-&-nicobar-islands  2022        1  744202             4107
...                         ...   ...      ...     ...              ...
8563                   nagaland  2018        4  797120             2071
8564                   nagaland  2018        4  798601             1972
8565                   nagaland  2018        4  797117             1752
8566                   nagaland  2018        4  797118             1604
8567                   nagaland  2018        4  797116             1410

[8568 rows x 5 columns]

In [24]:
df_top_user.to_sql(name='top_user', con=engine, if_exists = 'append', index=False)

-1

In [26]:
with engine.connect() as con:
  print(con.execute(text("SELECT count(*) FROM aggregated_transaction")).fetchall())
  print(con.execute(text("SELECT count(*) FROM aggregated_user")).fetchall())
  print(con.execute(text("SELECT count(*) FROM map_transaction")).fetchall())
  print(con.execute(text("SELECT count(*) FROM map_user")).fetchall())
  print(con.execute(text("SELECT count(*) FROM top_transaction")).fetchall())
  print(con.execute(text("SELECT count(*) FROM top_user")).fetchall())

[(4314,)]
[(6732,)]
[(17564,)]
[(17568,)]
[(8567,)]
[(8568,)]