Phonepe Pulse Data Visualization
Introduction
PhonePe has become one of the most popular digital payment platforms in India, with millions of users relying on it for their day-to-day transactions. The app is known for its simplicity, user-friendly interface, and fast and secure payment processing. It has also won several awards and accolades for its innovative features and contributions to the digital payments industry.

We create a web app to analyse the Phonepe transaction and users depending on various Years, Quarters, States, and Types of transaction and give a Geographical and Geo visualization output based on given requirements.

" Disclaimer:-This data between 2018 to 2023 in INDIA only "

4. E T L Process
a) Extract data
Initially, we Clone the data from the Phonepe GitHub repository by using Python libraries. https://github.com/PhonePe/pulse.git
b) Process and Transform the data
Process the clone data by using Python algorithms and transform the processed data into DataFrame formate.
c) Load data
Finally, create a connection to the MySQL server and create a Database and stored the Transformed data in the MySQL server by using the given method. df.to_sql('table_name', connection, if_exists = 'replace', index = False, dtype={'Col_name':sqlalchemy.types.datatype()})
5. E D A Process and Frame work
a) Access MySQL DB
Create a connection to the MySQL server and access the specified MySQL DataBase by using pymysql library
b) Filter the data
Filter and process the collected data depending on the given requirements by using SQL queries
c) Visualization
Finally, create a Dashboard by using Streamlit and applying selection and dropdown options on the Dashboard and show the output are Geo visualization, bar chart, and Dataframe Table
User Guide

In [1]:
!git clone https://github.com/PhonePe/pulse.git # for the extraction of data from github phonepe

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import pandas as pd
import json
import os
# Install libralies which are required

In [3]:
#This is to direct the path to get the data as states
# !... command got all data in the
#from data folder wrote the below path;base path

path="pulse/data/aggregated/transaction/country/india/state/"

In [4]:
state_list=os.listdir(path)
state_list

#state_list--> to get the list of states in India
#os.listdir is a method

['andaman-&-nicobar-islands',
 'tamil-nadu',
 'lakshadweep',
 'telangana',
 'manipur',
 'haryana',
 'gujarat',
 'sikkim',
 'delhi',
 'west-bengal',
 'uttar-pradesh',
 'goa',
 'punjab',
 'arunachal-pradesh',
 'karnataka',
 'jammu-&-kashmir',
 'maharashtra',
 'odisha',
 'madhya-pradesh',
 'rajasthan',
 'andhra-pradesh',
 'chandigarh',
 'kerala',
 'chhattisgarh',
 'tripura',
 'mizoram',
 'himachal-pradesh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'ladakh',
 'assam',
 'meghalaya',
 'uttarakhand',
 'puducherry',
 'bihar',
 'jharkhand',
 'nagaland']

In [5]:
# aggregation transtion

for state in state_list:
  cur_states=path+state+ "/"
  print (cur_states)

  #cur_states=current state

pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/
pulse/data/aggregated/transaction/country/india/state/tamil-nadu/
pulse/data/aggregated/transaction/country/india/state/lakshadweep/
pulse/data/aggregated/transaction/country/india/state/telangana/
pulse/data/aggregated/transaction/country/india/state/manipur/
pulse/data/aggregated/transaction/country/india/state/haryana/
pulse/data/aggregated/transaction/country/india/state/gujarat/
pulse/data/aggregated/transaction/country/india/state/sikkim/
pulse/data/aggregated/transaction/country/india/state/delhi/
pulse/data/aggregated/transaction/country/india/state/west-bengal/
pulse/data/aggregated/transaction/country/india/state/uttar-pradesh/
pulse/data/aggregated/transaction/country/india/state/goa/
pulse/data/aggregated/transaction/country/india/state/punjab/
pulse/data/aggregated/transaction/country/india/state/arunachal-pradesh/
pulse/data/aggregated/transaction/country/india/state/karnataka/
pulse/data/aggregated/transaction/country/india/state/jammu-&-kashmir/
pulse/data/aggregated/transaction/country/india/state/maharashtra/
pulse/data/aggregated/transaction/country/india/state/odisha/
pulse/data/aggregated/transaction/country/india/state/madhya-pradesh/
pulse/data/aggregated/transaction/country/india/state/rajasthan/
pulse/data/aggregated/transaction/country/india/state/andhra-pradesh/
pulse/data/aggregated/transaction/country/india/state/chandigarh/
pulse/data/aggregated/transaction/country/india/state/kerala/
pulse/data/aggregated/transaction/country/india/state/chhattisgarh/
pulse/data/aggregated/transaction/country/india/state/tripura/
pulse/data/aggregated/transaction/country/india/state/mizoram/
pulse/data/aggregated/transaction/country/india/state/himachal-pradesh/
pulse/data/aggregated/transaction/country/india/state/dadra-&-nagar-haveli-&-daman-&-diu/
pulse/data/aggregated/transaction/country/india/state/ladakh/
pulse/data/aggregated/transaction/country/india/state/assam/
pulse/data/aggregated/transaction/country/india/state/meghalaya/
pulse/data/aggregated/transaction/country/india/state/uttarakhand/
pulse/data/aggregated/transaction/country/india/state/puducherry/
pulse/data/aggregated/transaction/country/india/state/bihar/
pulse/data/aggregated/transaction/country/india/state/jharkhand/
pulse/data/aggregated/transaction/country/india/state/nagaland/

In [6]:
clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

In [7]:
for state  in state_list:
  cur_states=path+state+ "/"
  #print (cur_states)
  state_years = os.listdir(cur_states)
  #print(state_years)

  for year in state_years:


    cur_state_year = cur_states +year+"/"
    #print(cur_state_year)


    json_files=os.listdir(cur_state_year)
    #print(json_files)

    for file in json_files:
      qfile=cur_state_year+file
      #print(qfile)
      f = open(qfile)
      data = json.load(f)
      #print(data)
      x = data["data"]["transactionData"]
      for i in x:
        #print(i)
          # print(i["name"])
          # print(i["paymentInstruments"][0]["count"])
          # print(i["paymentInstruments"][0]["amount"])

          clm["State"].append(state)
          clm["Year"].append(year)
          clm["Quater"].append(file[:1])
          clm["Transaction_type"].append(i["name"])
          clm["Transaction_count"].append(i["paymentInstruments"][0]["count"])
          clm["Transaction_amount"].append(i["paymentInstruments"][0]["amount"])



  #cur_states=current state

In [8]:
new = pd.DataFrame.from_dict(clm)

In [9]:
new

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2022,1,Peer-to-peer payments,342649,1.682329e+09
1,andaman-&-nicobar-islands,2022,1,Merchant payments,284298,3.700916e+08
2,andaman-&-nicobar-islands,2022,1,Recharge & bill payments,163401,7.130013e+07
3,andaman-&-nicobar-islands,2022,1,Financial Services,1757,2.869682e+06
4,andaman-&-nicobar-islands,2022,1,Others,2643,2.440322e+06
...,...,...,...,...,...,...
4309,nagaland,2018,4,Recharge & bill payments,72881,1.661551e+07
4310,nagaland,2018,4,Peer-to-peer payments,53723,3.589263e+08
4311,nagaland,2018,4,Merchant payments,10350,1.050063e+07
4312,nagaland,2018,4,Financial Services,587,2.161274e+05
4313,nagaland,2018,4,Others,1792,1.754940e+06

In [10]:
# new.to_csv("/content/sample.csv")

In [11]:
userbase_path= "pulse/data/aggregated/user/country/india/state/"

In [12]:
userclm={'State':[], 'Year':[],'Quater':[],'Registered_users':[],"appOpens":[], 'Device_brand':[], 'Device_count':[], 'Device_percentage':[]}

In [13]:
user_list= os.listdir(userbase_path)
# print(user_list)
for state in user_list:
  cur_states=userbase_path+state+ "/"
  # print (cur_states)

  state_years = os.listdir(cur_states)
  # print(state_years)

  for year in state_years:
    cur_state_year = cur_states +year+"/"
    # print(cur_state_year)


    json_files=os.listdir(cur_state_year)
    #print(json_files)

    for file in json_files:
      qfile=cur_state_year+file
      #print(qfile)
      f = open(qfile)
      data = json.load(f)
      #print(data)
      y = data["data"]["usersByDevice"]
      if(y is None):
        continue
      # print(y)
      # print(state, year, file)
      for i in y:
        # print(i["count"])
        userclm["State"].append(state)
        userclm["Year"].append(year)
        userclm["Quater"].append(file[:1])
        userclm["Registered_users"].append(data["data"]["aggregated"]["registeredUsers"])
        userclm["appOpens"].append(data["data"]["aggregated"]["appOpens"])
        userclm["Device_brand"].append(i["brand"])
        userclm["Device_count"].append(i["count"])
        userclm["Device_percentage"].append(i["percentage"])

# userclm={'State':[], 'Year':[],'Quater':[],'Registered_users':[],"appOpens":[], 'Device_brand':[], 'Device_count':[], 'Device_percentage':[]}

In [14]:
user_df = pd.DataFrame(userclm)
user_df

,State,Year,Quater,Registered_users,appOpens,Device_brand,Device_count,Device_percentage
0,andaman-&-nicobar-islands,2022,1,76288,3847407,Vivo,18688,0.244966
1,andaman-&-nicobar-islands,2022,1,76288,3847407,Xiaomi,17957,0.235384
2,andaman-&-nicobar-islands,2022,1,76288,3847407,Samsung,12955,0.169817
3,andaman-&-nicobar-islands,2022,1,76288,3847407,Realme,6769,0.088730
4,andaman-&-nicobar-islands,2022,1,76288,3847407,Oppo,6461,0.084692
...,...,...,...,...,...,...,...,...
6727,nagaland,2018,4,42997,0,Apple,1148,0.026700
6728,nagaland,2018,4,42997,0,Lenovo,1024,0.023816
6729,nagaland,2018,4,42997,0,Huawei,849,0.019746
6730,nagaland,2018,4,42997,0,Asus,840,0.019536
6731,nagaland,2018,4,42997,0,Others,6249,0.145336

In [15]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/ramki/miniconda3/lib/python3.11/site-packages (8.3.0)

In [16]:
!conda install sqlalchemy -y

Channels:
 - defaults
Platform: osx-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [17]:
from sqlalchemy import create_engine, text

In [18]:
connection_string = "mysql+mysqlconnector://root:borse123@127.0.0.1:3306/phonepe"

In [19]:
engine = create_engine(connection_string, echo=False)

In [20]:
with engine.connect() as connection:
    result = connection.execute(text("show tables"))
    for row in result.mappings():
        print("Author:", row)

In [21]:
user_df.to_sql("user", con=engine)

-1

In [22]:
new.to_sql("transaction", con=engine)

-1